<body>

    <div class="breadcrumb">
        <p>
            <a [routerLink]="['/start']" class="breadcrumb-link">Home</a> 
      <a [routerLink]="['/event/' +eventId]" class="breadcrumb-link"> /Evenet Ansicht</a> /Gästeliste
        </p>
    </div>


        
    <div class="title">

        <button mat-icon-button [routerLink]="['/event/' +eventId]" class="btn-back">

                <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>Userübersicht</h1>
    </div>


    <div class="content-container">

            @if(isLoaded){

                
                <div class="table-container">
                    <div class="table-btn">
                        <button mat-fab extended (click)="openDialog()"><mat-icon>add</mat-icon> Gast hinzufügen</button>
                    </div>

                    <div >
                        <app-guest-table-box [data]="guests"></app-guest-table-box>
                    </div>
                </div>
              }
        
              @else {
        
                @if(isFailed) {
            
                    <div class="loading-container">
                        <app-loading-failed-box></app-loading-failed-box>
                    </div>
                }
        
                @else { 
                    <div class="loading-container">
                        <app-loading-box></app-loading-box>
                    </div>
                }
        
            }

        

    </div>

</body>