@import '../../styles/colors.scss';

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    min-height: calc(100vh - 150px);
}



.breadcrumb-link {
    color: $secondarycolor;
    text-decoration: none;
    transition: all 0.3s ease;
}

.breadcrumb-link:hover {
    color: $secondarycolor;
    text-decoration: underline 1.5px;
    cursor: pointer;
}

.breadcrumb p {
    font-size: 1.1em;
    margin: 10px 0;
}

.title {
    color: $secondarycolor;
    display: flex;
    gap: 10px;
}

.title h1 {
    font-weight: normal;
    margin: 0px;
}


.title h1 {
    font-weight: normal;
    margin: 0px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    gap: 10px;
}

.table-btn {
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.loading-container {
    min-height: 600px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}