
<mat-card class="mat-card">
<form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" >
    <!-- Checkbox-Frage -->
    <mat-card class="survey-card">
      <mat-card-title class="survey-title">Welche Features findest du hilfreich?</mat-card-title>
      <mat-card-content>
        <div formArrayName="checkboxes">
          <div *ngFor="let option of checkboxOptions; let i = index">
            <mat-checkbox [formControl]="checkboxes.controls[i]" class="survey-checkbox">
              {{ option }}
            </mat-checkbox>
          </div>
        </div>
        
      </mat-card-content>
    </mat-card>
    
    <!-- Offene Frage -->
    <mat-card class="survey-card">
      <mat-card-title class="survey-title">Hast du Verbesserungsvorschläge?</mat-card-title>
      <mat-card-content class="input-card">
        <mat-form-field appearance="outline">
          <mat-label>Deine Antwort</mat-label>
          <textarea matInput formControlName="openAnswer" rows="4" class="textarea-input"></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  
    <!-- Scale-Frage -->
<mat-card class="survey-card">
  <mat-card-title class="survey-title">Wie zufrieden bist du mit dem Event?</mat-card-title>
  <mat-card-content class="scale-card">
    <mat-label style="font-size: smaller;">Bewertung (1 = schlecht, 100 = top)</mat-label>
    <mat-slider [min]="min" [max]="max" [step]="step" discrete>
      <input matSliderThumb formControlName="scale">
    </mat-slider>
    
  </mat-card-content>
</mat-card>

  
    <!-- Absenden -->
    <div>
      <button mat-raised-button color="accent" type="submit" >Absenden</button>
    </div>
  </form>
  </mat-card>

  