

.box-table {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  height: auto;
  max-width: 1500px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px silver;
  margin: 20px;
  background-color: white;
  padding: 10px;

}

table {
    width: 100%;
    padding: 20px;
    background-color: white;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
 

  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
}



.mail-card {
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
}

.comment-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.green {
  color: green;
}

.red {
  color: red;
}








