<div class="status-container">

    <div class="title">
        <h1>Status übersicht</h1>

    </div>

    @if(isLoaded){
            
        <div class="row">
        

            <div class="col">
                <app-event-detail-box>
                </app-event-detail-box>
            </div>

        </div>
        
      }

      @else {

        @if(isFailed) {
            
            <div class="loading-container">
                <app-loading-failed-box></app-loading-failed-box>
            </div>
        }

        @else { 
            <div class="loading-container">
                <app-loading-box></app-loading-box>
            </div>
        }

      }

</div>