@import '../../styles/colors.scss';

body {
    height: 100%;
}

.status-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    height: auto;
    width: 100%;
    max-width: 1200px;
    margin: 1.25rem auto 10rem;
    padding: 20px;
    background-image: url('/MX_hintergrund.svg');
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position-x: 50%;
    background-position-y: 50%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.title {
    color: $secondarycolor;
    display: flex;
    padding-left: 20px;
    margin-bottom: 10px;
}

.title h1 {
    font-weight: normal;
    margin: 0px;
}

.kurzinfo-mail {
    display: flex;
    flex-direction: column; /* Überschrift bleibt oben */
    gap: 10px;
}

.kurzinfo-mail h3 {
    color: $backgroundcolordark;
    padding-left: 20px;
}

.einladung-content {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    flex: 1;
}

.kurzinfo-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.wunschliste, .to-do-liste {
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 20px;
    width: 100%;
}

.more-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    min-height: 200px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px $backgroundcolorlight;
    margin: 20px;
}

.btn {
    background-color: $primarycolor;
    color: white !important;
    font-weight: lighter;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 150px;
}

.col {
    width: 33%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    box-sizing: border-box;
}

@media (max-width: 70em) {
    .col {
        width: 100%;
    }
}

@media (min-width: 70em) and (max-width: 95em) {
    .col {
        width: 50%;
    }
}

@media (min-width: 150em) {
    .col {
        width: 25%;
    }
}

body {
    background-color: #fdfdfd;
    padding: 20px;
    color: $backgroundcolorlight;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #324A9A;
}

img.example {
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
    border-radius: 10px;
}

.qr-code {
    margin: 30px 0;
}

.instructions {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}
