@import '../../styles/colors.scss';

body{
    height: 100%;
}
.breadcrumb {
    display: flex;
    width: 100%;
    min-width: 200px;
}


.breadcrumb-link {
    color: $secondarycolor;
    text-decoration: none;
    transition: all 0.3s ease;
}

.breadcrumb-link:hover {
    color: $secondarycolor;
    text-decoration: underline 1.5px;
    cursor: pointer;
}

.breadcrumb p {
    font-size: 1.1em;
    margin: 10px 0;
}

.status-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    height: auto;
    width: 100%;
    max-width: 1200px; /* Die gleiche maximale Breite wie bei der .box-service */
    margin: 0 auto; /* Zentriert den Container */
    background-image: url('/MX_hintergrund.svg');
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position-x: 50%;
    background-position-y: 50%;
    overflow-x: hidden; 
}

.title {
    color: $secondarycolor;
    display: flex;
    gap: 10px;
    width: 100%;
  min-width: 200px;

}

.title h1 {
    font-weight: normal;
    margin: 0px;
}



.loading-container {
    min-height: 600px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 100%;
}

.event-info {
    margin-bottom: 20px;
  }

  .event-details-container {
    margin-top: 20px;
  }
  
  mat-card {
    padding: 20px;
    background-color: #f9f9f9;
  }



.kurzinfo-mail{
    display: flex;
    flex-direction: column; /* Überschrift bleibt oben */
    gap: 10px;
}

.kurzinfo-mail h3 {
    color: $backgroundcolordark;
    padding-left: 20px;
}

.qr-code-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  

.einladung-content {
    width: 100%;
  }
  
  .qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.qr-code {
    flex-shrink: 0;
    width: 150px;
}

.qr-text {
    text-align: center;
    font-size: 14px;
    color: $backgroundcolordark;
    margin-top: 5px;
}

.locations{
    padding-left: 20px;
}
.maps-standort{
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    min-width: 200px;
}

.maps-standort iframe{
    margin-right: 20px;
}

.wunschliste, .to-do-liste{
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 20px;
    width: 100%;
}


.more-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    min-height: 200px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px $backgroundcolorlight;
    margin: 20px;
}

.btn {
    background-color: $primarycolor;
    color: white !important;
    font-weight: lighter;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 150px;
}

.col {
    width: 33%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    box-sizing: border-box;
}



@media (max-width: 70em) {
    .col {
        width: 100%;
    }
}

@media (min-width: 70em) and (max-width: 95em) {
    .col {
        width: 50%;
    }
}

@media (min-width: 150em) {
    .col {
        width: 25%;
    }
}