<h2 mat-dialog-title>Kontostellungen</h2>
<mat-dialog-content class="settings-content">
  <form>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Neue E-Mail</mat-label>
      <input matInput type="email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Neues Passwort</mat-label>
      <input matInput type="password">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-flat-button color="primary">Speichern</button>
</mat-dialog-actions>
