mat-dialog-title {
    text-align: center; /* Titel zentrieren */
}
  
mat-dialog-content {
    text-align: center; /* Inhalt zentrieren */
}
  
mat-dialog-actions {
    justify-content: center; /* Aktionen zentrieren */
}

