

<div class="status-container">

    <div class="title">
        <h1>Event übersicht</h1>
        <button routerLink="/guesttable">Gästeliste Test</button>
        <button routerLink="/qr">QR Test</button>
        <button routerLink="/eventedit">edit</button>

    </div>

    @if(isLoaded){
            
        <div class="row">
        

            <div class="col" *ngFor="let event of eventList">
                <app-event-box 
                    [eventName]="event.title" 
                    [eventTitle]="event.eventTitle" 
                    [eventInfo]="event.description"
                    [routerLink]="'/event/' + event.event_id">
                </app-event-box>
            </div>

    
            <div class="col">
                <div class="more-services">
                    <p>Neues Event erstellen?</p>
                    <section>
                        <button mat-button class="btn" routerLink="/addevent">Neues Event erstellen</button>
                    </section>
    
                </div>
            </div>

        </div>
        
      }

      @else {

        @if(isFailed) {
            
            <div class="loading-container">
                <app-loading-failed-box></app-loading-failed-box>
            </div>
        }

        @else { 
            <div class="loading-container">
                <app-loading-box></app-loading-box>
            </div>
        }

      }

</div>


