<div class="box-service">

    <div class="event-name">

        <div>

            <h3>{{ event.title }}</h3>

        </div>

        <div>

            <img [src]="event.image" style="width: 100%;">

        </div>
       

    </div>

    <div class="event-info" >

 

        <div>

            <h3 class="title-main"> {{ event.title }} </h3>

            <div class="option-status">
                <mat-radio-group aria-label="Wähle den Status">
                  <mat-radio-button value="aktiv" checked>Aktiv</mat-radio-button>
                  <mat-radio-button value="inaktiv">Inaktiv</mat-radio-button>
                </mat-radio-group>
            </div>

        </div>

        <div class="countdown-container">
            <h3>Countdown bis zu {{ event.title }}: 🎉 {{ countdown }}🎉</h3> 
        </div>

 

        <div class="button-box">

            <div>
            <button class="raised-buttons" mat-raised-button [routerLink]="['/guesttable/' + event.event_id]">zur Gästeliste</button>
            <button class="raised-buttons" mat-raised-button [routerLink]="['/survey']">zur Umfrage</button>
            <button class="raised-buttons" mat-raised-button [routerLink]="['/to-do-list']">zur To-Do-Liste</button>
            </div>

            <div class="icon-buttons">
                <button mat-icon-button aria-label="Example icon button with a menu icon" style="margin-right: 20px;">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button aria-label="Example icon button with a menu icon" (click)="deleteEvent(event.event_id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>