<div class="box-service">

    <div class="event-name">

        <div>

            <h3>{{ event.title }}</h3>

        </div>

        <div>

            <img [src]="event.image" style="width: 100%;">

        </div>

       

       

    </div>

    <div class="event-info" >

 

        <div>

            <h3> {{ event.startdate }} </h3>

            <hr>

            <p>{{ event.description }}</p>

        </div>

 

        <div class="button-box">

            <button routerLink="/guesttable" mat-flat-button>zur Gästeliste</button>

 

            <div>

 

                <button mat-mini-fab aria-label="Example icon button with a menu icon" style="margin-right: 20px;">

                    <mat-icon>edit</mat-icon>

                </button>

 

                <button mat-mini-fab aria-label="Example icon button with a menu icon">

                    <mat-icon>delete</mat-icon>

                </button>

            </div>

 

        </div>

    </div>

</div>
