@import '../../styles/colors.scss';
.box-service {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 900px;
    min-height: 200px;
    max-height: 350px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px silver;
    margin: 20px;
}

.event-name {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primarycolor;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.event-name h3 {
    margin: 10px; 
}

.info-service {
    position: relative;
    margin: 0px;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;


}


.info-service h3 {
    margin-bottom: 10px; 
    margin-top: 5px;
}

.info-service hr {
    width: 70%;
    margin-left: 0px;
}







